<hr class="hide" />
<div id="secondary" style="clear:both;">
  <div class="inside">
    <div class="comment-head">
      <h2><span id="comment-count"><%= comments.size %></span> comments</h2>

      <!-- <span class="details"><a href="#comment-form">Jump to comment form</a></span> -->
    </div>
    
    <div id="comments">
    <ol id="comment_list">
      <% comments.each do |comment| %>
        <%= render :partial => 'comments/comment', :locals => { :comment => comment}  %>
      <% end %>      

      <!-- <li id="preview2">
        <cite>
          <span class="author" id="preview_author">
          </span>
          <span class="date">Today / Now</span>
        </cite>
        <div class="content" id="preview_body">

        </div>
        <div class="clear"></div>
      </li> -->
    </ol>
    </div>
    
    <div id="comment-form">
      <% form_tag( "/posts/#{@post.slug}/comments.js", :id => "comment" ) do |f| %>
      
      <h3 class="formhead">Comment</h3>
      <p>Plain text only for now please.</p>
      
      <!-- <p>Commenting uses <a href="http://hobix.com/textile/">Textile</a>, which also allows plain HTML. <br/><strong>Use &lt;filter:code lang="ruby"&gt; and &lt;/filter:code&gt; tags to surround code blocks.</strong></p> -->

      <%= text_field_tag 'comment[author]', '', :id => 'comment_author' %>
      <label class="text" for="comment_author">Name (Required)</label><br />
      
      <%= text_field_tag 'comment[url]', '', :id => 'comment_url' %>
      <label class="text" for="comment_url">Website</label><br />
      <p>
        <%= text_area 'comment[body]', '', :id => 'comment_body' %>
      </p>
      <div class="formactions">
        <%= submit_tag 'Post comment' %>
      </div>
      <%= hidden_field_tag "comment[post_id]", @post.id %>
      <%= hidden_field_tag 'comment[created_at]', Time.now.xmlschema %>
      <% end %>
    </div>
    
  </div>
</div>
