<hr class="hide" />
<div id="secondary" style="clear:both;">
  <div class="inside">
    <div class="comment-head">
      <h2><%= comments.size %> comments</h2>

      <!-- <span class="details"><a href="#comment-form">Jump to comment form</a></span> -->
    </div>
    
    <div id="comments">
    <ol id="comment_list">
      <% comments.each do |comment| %>
        <%= render :partial => 'comments/comment', :locals => { :comment => comment}  %>
      <% end %>      

      <!-- <li id="preview2">
        <cite>
          <span class="author" id="preview_author">
          </span>
          <span class="date">Today / Now</span>
        </cite>
        <div class="content" id="preview_body">

        </div>
        <div class="clear"></div>
      </li> -->
    </ol>
    </div>
    
    <div id="comment-form">
      <form id="comment" method="post" action="#">
      
      <h3 class="formhead">Comment</h3>
      <p>Plain text only for now please.</p>
      
      <!-- <p>Commenting uses <a href="http://hobix.com/textile/">Textile</a>, which also allows plain HTML. <br/><strong>Use &lt;filter:code lang="ruby"&gt; and &lt;/filter:code&gt; tags to surround code blocks.</strong></p> -->

      <%= text_field 'comment[author]', :id => 'comment_author' %>
      <label class="text" for="comment_author">Name (Required)</label><br /> 
      <%= text_field 'comment[url]', :id => 'comment_url' %>      
      <label class="text" for="comment_url">Website</label><br />
      <p>
        <%= text_area 'comment[body]', :id => 'comment_body' %>
      </p>
      <div class="formactions">
        <%= submit_tag 'Post comment' %>
      </div>
      <%= hidden_field "comment[post_id]", :value => @post.document_id %>
      <%= hidden_field 'comment[created_at]', :value => Time.now.xmlschema %>
      </form>
    </div>
    
  </div>
</div>
