<table border="0">
  <tr>
    <td>ID: </td><td><%= text_field :document_id, :size => 50 %></td>
  </tr>
  <tr>
    <td>Title: </td><td><%= text_field :title, :size => 50 %></td>
  </tr>
  <tr> 
    <td>Author: </td><td><%= text_field :author, :size => 50 %></td>
  </tr>
  <tr>
    <td>Tags: </td>
    <td><%= text_field :tags, :value => (@post.tags.join(' ') rescue nil), :size => 50 %></td>
  </tr>
  <tr>
    <td>Summary: </td>
    <td><%= text_area :summary, :rows => 10, :cols => 50, :value => nil %></td>
  </tr>
  <tr>
    <td>Body: </td>
    <td><%= text_area :body, :rows => 30, :cols => 50, :value => nil %></td>
  </tr>
  <tr>
    <td>Created at: </td><td><%= text_field :created_at, :size => 50 %></td>
  </tr>
  <tr>
    <td>Updated at: </td><td><%= text_field :updated_at, :size => 50 %></td>
  </tr>
  <tr>
    <td colspan="2"><%= submit 'Post' %></td>
  </tr>
</table>
