<table border="0">
  <tr>
    <td>Slug: </td><td><%= text_field_tag 'post[slug]', @post.slug, :size => 50 %></td>
  </tr>
  <tr>
    <td>Title: </td><td><%= text_field_tag 'post[title]', @post.title, :size => 50 %></td>
  </tr>
  <tr> 
    <td>Author: </td><td><%= text_field_tag 'post[author]', @post.author, :size => 50 %></td>
  </tr>
  <tr>
    <td>Tags: </td>
    <td><%= text_field_tag 'post[tags]', @post.tags && @post.tags.join(' '), :size => 50 %></td>
  </tr>
  <tr>
    <td>Summary: </td>
    <td><%= text_area_tag 'post[summary]', @post.summary, :rows => 10, :cols => 50 %></td>
  </tr>
  <tr>
    <td>Body: </td>
    <td><%= text_area_tag 'post[body]', @post.body, :rows => 30, :cols => 50 %></td>
  </tr>
  <tr>
    <td>Created at: </td><td><%#= text_field_tag 'post[created_at]', @post.created_at, :size => 50 %></td>
  </tr>
  <tr>
    <td>Updated at: </td><td><%#= text_field_tag 'post[updated_at]', @post.updated_at, :size => 50 %></td>
  </tr>
  <tr>
    <td colspan="2"><%= submit_tag 'Post' %></td>
  </tr>
</table>
