<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>SLACKWORKS/BLARG/<%= @tags.join('/').upcase rescue '' %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <%= javascript_include_tag 'jquery-1.3.2.min', 'jquery-ui-1.7.1.custom.min', 'jquery.form' %>
  <%= yield :js %>

  <%= stylesheet_link_tag 'master', 'sh_style' %>
  
  <%= yield :css %>

</head>
<body>
  <%= link_to image_tag('redgear.png', { :style => 'float:left' }), '/' %>


	<div id="header">
		<div class="inside">
		  <!-- <div id="search">
				<form method="get" id="sform" action="#">
 					<div class="searchimg"></div>
					<input type="text" id="q" value="" name="q" size="15" />
				</form>
			</div> -->

			<h2 style="color: #FFF7D8">
			  <%= link_to 'SLACKWORKS / BLARG', '/' %>
			  <% @tags.try(:any?) && @tags.each do |tag| %>
			    <%= link_to " / #{tag.upcase}", "/tags/#{tag}" %>
			  <% end %>
			</h2>

		</div>
	</div>

<div id="primary" class="single-post">
	<div class="inside">

		<div class="sitesummary">
			<!-- <p>Innovation through laziness and hubris.</p> -->
			<p>Making today worse so tomorrow seems better.</p>
		</div>

		<div class="primary">
		  <!-- YIELD TO MAIN CONTENT -->
      <%= yield :layout %>
      <!-- BACK FROM THE MAIN CONTENT YIELD -->
		</div><!-- .primary -->
		<hr class="hide" />

		<div class="secondary">
		  <dl class="left-nav">
		    <dt>About</dt>
		    <dd>
		      Technology, programming, the interwebs and other topics by members of the slackworks community.
		    </dd>

        <%= render 'layouts/recent' %>

        <%= render 'layouts/tags' %>

		    <%= yield :left_nav %>
		  </dl>
		</div><!-- .secondary -->

		<div class="clear"></div>
	</div>
</div><!-- #primary -->

  <!-- <hr class="hide" />
  <div id="ancillary">
    <div class="inside">
      <div class="block first">
        <h2>Links</h2>

        <ul class="dates">
          <li><a href="#">LINK</a></li>
        </ul>
      </div>

      <div class="block">
        <h2>Recently</h2>
        <ul class="dates">
          <li><a href="#"><span class="date">DATE</span>TITLE</a></li>
       </ul>
      </div>

      <div class="block">
        <h2>Categories</h2>
        <ul class="counts">
          <li><a href="#"><span class="count">#</span>TAG</a></li>
        </ul>
      </div>

      <div class="clear"></div>
    </div>
  </div> -->

    <%= yield :foot %>

	<hr class="hide" />
	<div id="footer">
	  <div class="inside">
			<p class="copyright">
			  Powered by <a href="http://www.ruby-lang.org/">Ruby 1.9</a>, <a href="http://rubyonrails.org/">Rails</a>, and
			  <a href="http://couchdb.org/">CouchDB</a></p>
			<p class="attributes">Written by <!-- <a href="http://www.slackworks.com/"> -->slackworks<!-- </a> --></p>
	  </div>
  </div>

  <%= render('layouts/google_analytics') if RAILS_ENV == 'production' %>
</body>
</html>
